<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>
            The order has been successfully completed
        </h2>
        <p>
            You can check all your orders in the Orders section of your profile.
        </p>
        <hr />
        <p>Thanks!</p>
    </div>
</div>