@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background-color: #ffffff; padding: 20px; border-radius: 10px;">
    <h1 class="display-4" style="color: #0000FF; text-align: center;">Welcome to The green APP Environment</h1>
    <h1 class="display-4" style="color: #0000FF; text-align: center;">Version-1</h1>
</div>
